:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

body {
    display:grid;
    grid-template-areas: 
        "sidebar header"
        "sidebar main";
    grid-template-columns: 1fr 4fr;
    grid-template-rows:1fr 5fr ;
    margin: 0px;
    height: 100vh;
}

h1, h2, h3, h5, h6, p {
    margin: 0px;
}

h2 {
    padding-bottom: .75rem;
    font-weight: 400;
}

h3 {
    font-size: 1.6rem;
    font-weight: 600;
}

h6 {
    padding-bottom: .3rem;
    font-size: .9rem;
}

ul {
    list-style-type: none;
}

svg {
    height:2rem;
    width:2rem;
}

li > svg {
    fill: white;
    height: 2rem;
    width:2rem;
    /* remove */
    background-color: transparent; 
}

/* temp */
img {
    background-color: orange;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

.sidebar {
    grid-area: sidebar;
    color: white;
    background-color: blue;
}

.sidebar-list {
    padding-left: 2vw;
    font-size: 1.6rem;
    font-weight: 600;
}

.sidebar-list > li {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    padding-bottom: 1.1rem;
}

.sidebar-header {
    font-size: 1rem;    
    align-items: center; 
}

.sidebar-header > svg { 
    height: 3rem;
    width: 3rem;
}

.header {
    grid-area: header;
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding: 1rem 2rem;
    padding-bottom: 0px;
}

.header-top-row {
    display: grid;
    grid-template-columns: 1fr 12fr 1fr 1fr 3fr ;
    align-items: center;
    font-size: 1.3rem;
    font-weight: bold;
}

.header-top-row > input {
    width: 90%;
    background-color: lightgrey;
    border-radius: 20px;
    border: 0px;
    padding: .5rem;
    font-size: 1.2rem;
}

.header-bottom-row {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr 1fr 1fr;
    align-items: center;
    margin: 0px;
}

.greeting-text {
    text-align: left;
}

.header-buttons {
    justify-self: center;
    width: 70%;
    height: 40%;
    border: 0px;
    border-radius: 20px;
    background-color: lightblue;
    color: white;

}

.main {
    grid-area: main;
    background-color: grey;
    display: grid;
    gap: 1.1rem;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
        "projects announcements"
        "projects trending";
    padding: 1.5rem;
}

.projects {
    grid-area: projects;
}

.announcements {
    grid-area: announcements;
}

.trending {
    grid-area: trending;
}

.project-cards {
    height: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.1rem;
}

.card {
    background-color: white;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
}

.main-card {
    border-left: 10px solid goldenrod;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    padding: 1.5rem;
}

.main-card > h5 {
    align-self: end;
    font-size: 1.2rem;
    font-weight: 600;
    padding-bottom: .3rem;
}

.main-card > p {
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.1rem;
}

.main-card-imgs {
    display: flex;
    justify-content: flex-end;
}

.announcement-card {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 85%;
}

.announcement-card > div:nth-child(1),
.announcement-card > div:nth-child(2) {
    border-bottom: 1px solid grey;
    padding: 1rem 0px;
}

.trending-card {
    display:grid;
    height: 79%;
    align-items: center;
}

.trender {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
        "photo handle"
        "photo project";
}

.trender-photo {
    grid-area: photo;
    justify-self: center;
}

.trender-handle {
    grid-area: handle;
    padding: 0px;
    color: rgba(0, 0, 0, 0.8);
}

.trender-project-name {
    grid-area: project;
    color: rgba(0, 0, 0, 0.6);
    padding-top: .2rem;
}